.header{
    background: #ffffff;
}
.content1{
    margin:0.9rem 0rem;
  width: 100%;
}
.content1p1{
    margin: auto;
    justify-content: space-around;
    width: 80%;
    display: flex;
    flex-direction: row;
    
    margin-bottom: 10px;
}
.content2{
    width: 100%;
    display: flex;
    justify-content: right;
    
}
.content2p1{
    padding: 0.4rem;
    display: flex;
    margin-right: 0.7rem;
}
.content2 p{
    font-weight: 600;
    margin:0.5rem;
    font-size: 1.1rem;
}
.pesquisar{
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    border: 1;
    background: #444444;
    height: 2.8rem;
    width: 20rem;
    border-radius: 100px;
}
.logo{
    margin: 0.5rem;
 width: 200px;
}
.pesquisar::placeholder{
    color: #f0eeee;
}
.iconeInput{
    padding: 0.1rem;
    background-color: #ffffff;
    border-radius: 50px;
    position: absolute;
    left: 12%; /* Ajuste a posição conforme necessário */
    top: 7.4%;
    transform: translateY(-50%);
    width: 1.4rem; /* Ajuste a largura conforme necessário */
    height: 1.4rem;
}
