.contentMain{
    width: 100%;
}
.sessao1{
    background: #363636;
}.sessao2{
    background: #ffffff;
}

@media  (max-width:800px) {
    .contentCentralizador{
        display: flex;
        justify-content: center;
        margin: auto;
        text-align: center;
        width: 80%;
        background-color: blue;
    }
    
}
