.contentNav{
    float: left;
    width: 4.5rem;
    height: 100vh;
    padding-top: 1rem;
    background: #464646;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.419);
}
.contentNavMenu{

}
.contentNavMenu div p{
    font-weight: 900;
    font-size: 0.7rem;
    margin-top: -0.22rem;
    text-align: center;
    display: none;
    color: #ffffff;
    opacity: 0;
}
.iconeMenu{
    background: #ffffff7d;
    padding: 0.2rem;
    width: 2.55rem;
    height: 2.5rem;
}
.contentNav div img{
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    display: block;
    margin:0.5rem auto;
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 20px;
    transition: all 500ms;
}
.contentNav img:hover{
    box-shadow: 0.1rem 0.1rem 0.2rem  rgba(0, 0, 0, 0.576);
}
.logoOculos:hover+.pTexto{
    display: block;
    opacity: 1;
}
.logoReact:hover+.pTexto{
    display: block;
    opacity: 1;
}
.logoNetflix:hover+.pTexto{
    display: block;
    opacity: 1;
}
.logoAndroid:hover+.pTexto{
    display: block;
    opacity: 1;

}




